<app-all-stocks></app-all-stocks>

<nav mat-tab-nav-bar>
    <a mat-tab-link
        [routerLink]="['/', 'home']"
        (click)="activeLink='home'"
        [active] = "activeLink=='home'">
        My Stocks
    </a>
    <a mat-tab-link
        [routerLink]="['/', 'buy-sell']"
        (click)="activeLink='buy-sell'"
        [active] = "activeLink=='buy-sell'">
        Buy / Sell
    </a>
    <a mat-tab-link
        [routerLink]="['/', 'history']"
        (click)="activeLink='history'"
        [active] = "activeLink=='history'">
        Transaction History
    </a>
    <a mat-tab-link
        [routerLink]="['/', 'balance']"
        (click)="activeLink='balance'"
        [active] = "activeLink=='balance'">
        Balance
    </a>
</nav>  
<router-outlet></router-outlet>


